<%- include('partials/header') %>
<main>
    <div class="header-section">
        <img src="/images/yellow.jpg" alt="Me in Yellow" />
    </div>
    <h1><%= title %></h1>
    <div class="about-content">
        <p>My name is Vinnicius Castro, but I go by Vinnie. I'm a Software Engineer major, and I like going to the gym, playing pickleball, and swimming.</p>

        <p>Born and raised in São Paulo, Brazil, I am the youngest of two. I'm a senior student at Brigham Young University - Idaho, majoring in Software Engineering with an emphasis on Quality Assurance.</p>

        <p>Throughout my academic journey, I have participated in and created Python, C#, JavaScript, and SQL projects. I have also written CMM plans, testing reports, and risk mitigation plans.</p>

        <p>My work style is detail-oriented and supportive. I'm passionate about collaborative work and firmly believe that quality outcomes stem from collective efforts. I care deeply about self-development, and this need to better myself is reflected in my work. Therefore, I'm always looking for ways to improve processes and results.</p>

        <p>Looking ahead, I aspire to get an opportunity to professionally contribute and develop skills and expertise as a Software Engineer. My experience in emphasis on quality assurance prepared me to acquire the knowledge needed to meet quality requirements.</p>

        <p>In my downtime, I enjoy exercising and spending time with friends and family. I strive to have a balanced life and become the best version of myself.</p>

        <p>Feel free to connect with me on <a href="https://www.linkedin.com/in/vinnicius-castro/" target="_blank">LinkedIn</a>.</p>
    </div>

    <div class="images">
        <img src="/images/social.jpg" alt="Me" />
    </div>
</main>
<%- include('partials/footer') %>