<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <section class="profile">
        <div class="image">
            <img src="/images/bro-keers-side-selfie.png" alt="Brother Keers" class="shift">
        </div>
        <div class="content">
            <h2>Brother Keers</h2>

            <h3>Education</h3>
            <ul>
                <li>MS Software Development (2022), Boston University (MET)</li>
                <li>BS Computer Information Technology (2017), Brigham Young University-Idaho</li>
                <li>AS Computer Programming (2015), Riverside City College</li>
            </ul>

            <h3>Industry Experience</h3>
            <ul>
                <li>Faculty at Brigham Young University-Idaho (2019 &ndash; Present)</li>
                <li>Small business owner of Caboodle Tech Inc, now focusing on open source software (2013 &ndash; Present)</li>
                <li>Interim CTO of Staffworx (2023 &ndash; May 2025)</li>
            </ul>

            <h3>Teaching Experience</h3>
            <ul>
                <li>Faculty at Brigham Young University-Idaho (2019 &ndash; Present)</li>
                <li>Brookwood Elementary Computer Lab Instructor (2016)</li>
                <li>Camp Tahquitz Woodworking, Woodcarving, and Carpentry Instructor, 4 Summers</li>
            </ul>
            
            <h3>Volunteer Experience</h3>
            <ul>
                <li>Community of Tahquitz Honor Scouting Society</li>
                <li>Missionary, Perth, Western Australia (2011 - 2013)</li>
            </ul>

            <h3>Personal</h3>
            <p>
                Christopher enjoys spending time outdoors, whether it's at the local park, camping, hiking, or swimming. While he enjoys staying active outdoors, he also appreciates relaxing activities like movies with friends, board games, or getting lost in a good book. In Christopher's free time, he enjoys working on carpentry projects and exploring other creative hobbies. Recently, he has developed a passion for travel, aiming to explore two new countries/locations each year.
            </p>
        </div>
    </section>
</main>
<%- include('partials/footer') %>