<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Vinnicius</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="header-section">
        <img src="/images/yellow.jpg" alt="Vinnicius Castro - Yellow photo" />
        <h1>About me</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <p>My name is Vinnicius Castro, but I go by Vinnie. I'm a Software Engineer major, and I like going to the gym, playing pickleball, and swimming.</p>
    
    <div class="images">
        <img src="/images/social.jpg" alt="Vinnicius Castro - Social photo" />
    </div>
</body>
</html>