<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>
        This is the home page of our application. You can navigate to different sections using the links above.
    </p>
<%- include('partials/footer') %>