<%- include('partials/header') %>
    <h1><%= title %></h1>
    <p>
        This is our products page. Here you can find a list of all our products. Coming soon!
    </p>
<%- include('partials/footer') %>