<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <p>Access denied: You don't have the permissions need to access this page.</p>
</main>
<%- include('partials/footer') %>